body{
    background-color: black;
    color: white;
}
#topLinks{
    cursor: pointer;
    color: grey;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}
:hover#topLinks{
    color: white;
}

#bottomLink{
    margin-left: 10px;
    
}
#tabBox{
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #0078d4;
    cursor: pointer;
    margin-right: 10px;
}

#homeImg{
    width: 50%;
    display: block;
    margin-right: 50%;
    margin-left: 25%;
}